<p-dialog
    header="Cập nhật thông tin người dùng"
    [(visible)]="displayUpdateModal"
    [modal]="true"
    (onHide)="closeModal()"
    showEffect="fade"
    [style]="{ width: '35vw' }"
    [breakpoints]="{ '960px': '75vw' }"
>
    <!-- <div class="col-12 md:col-12">

    </div> -->
    <form [formGroup]="formUpdate">
        <div class="card p-fluid p-3">
            <div class="avatar">
                <div
                    class="flex align-items-center justify-content-center pt-3"
                >
                    <img class="myAvatar" src="{{ usAvatar }}" />
                </div>
                <div
                    class="flex align-items-center justify-content-center pl-3 pr-3 pt-1 pb-3"
                >
                    <p-fileUpload
                        chooseLabel=""
                        #fileUpload
                        mode="basic"
                        name="demo[]"
                        [customUpload]="true"
                        accept="image/*"
                        [maxFileSize]="1000000"
                        (uploadHandler)="onUpload($event, fileUpload)"
                        [auto]="true"
                    ></p-fileUpload>
                </div>
            </div>
            <br />
            <div class="p-formgrid grid">
                <div class="field col pb-0">
                    <label htmlFor="username">Tên đăng nhập</label>
                    <input
                        pInputText
                        id="username"
                        formControlName="userName"
                        type="text"
                        readonly="true"
                    />
                    <small
                        class="p-error block"
                        *ngIf="
                            formUpdate.controls['userName'].invalid &&
                            formUpdate.controls['userName'].dirty
                        "
                        >Trường này không được bỏ trống</small
                    >
                </div>
                <div class="field col pb-0">
                    <label htmlFor="roleId">Nhóm</label>
                    <p-dropdown
                        [options]="(roles$ | async)!"
                        placeholder="Chọn nhóm người dùng"
                        optionLabel="roleName"
                        optionValue="roleId"
                        formControlName="roleId"
                        [showClear]="true"
                    ></p-dropdown>
                    <small
                        class="p-error block"
                        *ngIf="
                            formUpdate.controls['roleId'].invalid &&
                            formUpdate.controls['roleId'].dirty
                        "
                        >Trường này không được bỏ trống</small
                    >
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col pb-0">
                    <label htmlFor="firstName">Họ</label>
                    <input
                        pInputText
                        id="firstName"
                        formControlName="firstName"
                        type="text"
                    />
                    <small
                        class="p-error block"
                        *ngIf="
                            formUpdate.controls['firstName'].invalid &&
                            formUpdate.controls['firstName'].dirty
                        "
                        >Trường này không được bỏ trống</small
                    >
                </div>
                <div class="field col pb-0">
                    <label htmlFor="lastName">Tên</label>
                    <input
                        pInputText
                        id="lastName"
                        formControlName="lastName"
                        type="text"
                    />
                    <small
                        class="p-error block"
                        *ngIf="
                            formUpdate.controls['lastName'].invalid &&
                            formUpdate.controls['lastName'].dirty
                        "
                        >Trường này không được bỏ trống</small
                    >
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col pb-0">
                    <label htmlFor="dob">Ngày sinh</label>
                    <p-calendar
                        inputId="dob"
                        formControlName="dateOfBirth"
                        dateFormat="dd/mm/yy"
                    ></p-calendar>
                    <small
                        class="p-error block"
                        *ngIf="
                            formUpdate.controls['dateOfBirth'].invalid &&
                            formUpdate.controls['dateOfBirth'].dirty
                        "
                        >Trường này không được bỏ trống</small
                    >
                </div>
                <div class="field col pb-0">
                    <label htmlFor="gender">Giới tính</label>
                    <p-dropdown
                        [options]="genders"
                        placeholder="Chọn giới tính"
                        optionLabel="label"
                        optionValue="value"
                        formControlName="gender"
                        [showClear]="true"
                    ></p-dropdown>
                    <small
                        class="p-error block"
                        *ngIf="
                            formUpdate.controls['gender'].invalid &&
                            formUpdate.controls['gender'].dirty
                        "
                        >Trường này không được bỏ trống</small
                    >
                </div>
            </div>

            <div class="p-formgrid grid">
                <div class="field col pb-0">
                    <label htmlFor="email">Email</label>
                    <input
                        pInputText
                        id="email"
                        formControlName="email"
                        type="text"
                    />
                    <small
                        class="p-error block"
                        *ngIf="
                            formUpdate.controls['email'].invalid &&
                            formUpdate.controls['email'].dirty
                        "
                        >Trường này không được bỏ trống</small
                    >
                </div>
                <div class="field col pb-0">
                    <label htmlFor="phonenumber">Số điện thoại</label>
                    <p-inputMask
                        mask="(999) 999-9999"
                        placeholder="(999) 999-9999"
                        formControlName="phoneNumber"
                    ></p-inputMask>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col pb-0">
                    <label htmlFor="address">Địa chỉ</label>
                    <input
                        pInputText
                        id="address"
                        formControlName="address"
                        type="text"
                    />
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col pb-0">
                    <label htmlFor="deptCode">Phòng ban</label>
                    <p-dropdown
                        [options]="(depts$ | async)!"
                        placeholder="Chọn phòng ban"
                        optionLabel="deptName"
                        optionValue="deptCode"
                        formControlName="deptId"
                        [showClear]="true"
                    >
                    </p-dropdown>
                    <small
                        class="p-error block"
                        *ngIf="
                            formUpdate.controls['deptId'].invalid &&
                            formUpdate.controls['deptId'].dirty
                        "
                        >Trường này không được bỏ trống</small
                    >
                </div>
                <div class="field col pb-0">
                    <label htmlFor="title">Chức danh</label>
                    <p-dropdown
                        [options]="(titles$ | async)!"
                        placeholder="Chọn Chức danh"
                        optionLabel="titleName"
                        optionValue="titleId"
                        formControlName="titleId"
                        [showClear]="true"
                    ></p-dropdown>
                    <small
                        class="p-error block"
                        *ngIf="
                            formUpdate.controls['titleId'].invalid &&
                            formUpdate.controls['titleId'].dirty
                        "
                        >Trường này không được bỏ trống</small
                    >
                </div>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button
            pButton
            icon="pi pi-times"
            (click)="closeModal()"
            label="Hủy bỏ"
            class="p-button-outlined"
        ></button>
        <button
            pButton
            icon="pi pi-check"
            label="Cập nhật"
            (click)="onSubmit()"
            [disabled]="formUpdate.invalid"
            class="p-button-outlined"
        ></button>
    </ng-template>
</p-dialog>

<p-toast></p-toast>
