<p-toast></p-toast>
<!-- <div *ngIf="loading" class="loader">
    <img src="assets/LOGO-VSD.png" />
</div> -->
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div
                class="flex justify-content-end flex-column pb-3 sm:flex-row gap-2"
            >
                <button
                    pButton
                    icon="pi pi-refresh"
                    type="button"
                    label="Refresh"
                    class="p-button-raised p-button-info"
                    (click)="refresh$.next()"
                ></button>
                <button
                    pButton
                    icon="pi pi-plus"
                    type="button"
                    label="Thêm mới"
                    class="p-button-raised"
                    (click)="showAddModal()"
                ></button>
            </div>

            <p-progressBar
                *ngIf="loading$ | async"
                mode="indeterminate"
                [style]="{ height: '6px' }"
            ></p-progressBar>

            <p-table
                #dt1
                [value]="(departments$ | async)!"
                dataKey="id"
                [rows]="10"
                [rowHover]="true"
                styleClass="p-datatable-sm"
                [globalFilterFields]="['deptCode', 'deptName', 'branch']"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 10%">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Mã Phòng
                            </div>
                        </th>
                        <th style="min-width: 20%">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Tên Phòng
                            </div>
                        </th>
                        <th style="min-width: 30%">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Trực thuộc
                            </div>
                        </th>
                        <th style="min-width: 40%"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dept>
                    <tr class="max-height:2rem;">
                        <td>
                            {{ dept.deptCode }}
                        </td>
                        <td>
                            {{ dept.deptName }}
                        </td>
                        <td>{{ dept.branch }}</td>
                        <td>
                            <div class="flex justify-content-end gap-2">
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-primary p-button-text"
                                    (click)="showUpdateModal(dept)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-button-text"
                                    (click)="confirmDelete($event, dept)"
                                >
                                    <p-confirmPopup
                                        key="confirmDelete"
                                    ></p-confirmPopup>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">
                            Không có nhóm người dùng nào được tìm thấy.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<app-addeditdepartment
    [displayAddModal]="displayAddEditModal"
    [modalType]="modalType"
    [department]="department"
    (clickClose)="hideAddEditModal($event)"
    (clickAdd)="AddDepartment($event)"
></app-addeditdepartment>
