.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.cardHeader {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: large;
    border-radius: 10px 10px 0 0;
    height: 50px;
}
.pending {
    background-color: rgb(51, 173, 189);
}

.processing {
    background-color: rgb(252, 166, 85);
}

.done {
    background-color: rgb(4, 161, 31);
}
