<p-toast></p-toast>
<!-- <div *ngIf="loading" class="loader">
    <img src="assets/LOGO-VSD.png" />
</div> -->
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div
                class="flex justify-content-end flex-column pb-3 sm:flex-row gap-2"
            >
                <button
                    pButton
                    icon="pi pi-refresh"
                    type="button"
                    label="Refresh"
                    class="p-button-raised p-button-info"
                    (click)="refresh$.next()"
                ></button>
                <button
                    pButton
                    icon="pi pi-plus"
                    type="button"
                    label="Thêm mới"
                    class="p-button-raised"
                    (click)="showAddModal()"
                ></button>
            </div>

            <p-progressBar
                *ngIf="loading$ | async"
                mode="indeterminate"
                [style]="{ height: '6px' }"
            ></p-progressBar>

            <p-table [value]="(companies$ | async)!" dataKey="name">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5rem"></th>
                        <th style="min-width: 10%">Mã công ty</th>
                        <th style="min-width: 20%">Tên công ty</th>
                        <th style="min-width: 30%">Địa chỉ</th>
                        <th style="min-width: 35%"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-comp>
                    <tr>
                        <td>{{ comp.compCode }}</td>
                        <td>{{ comp.compName }}</td>
                        <td>{{ comp.compAddress }}</td>
                        <td>
                            <div class="flex justify-content-end gap-2">
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-primary p-button-text"
                                    (click)="showUpdateModal(comp)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-button-text"
                                    (click)="confirmDelete($event, comp)"
                                >
                                    <p-confirmPopup
                                        key="confirmDelete"
                                    ></p-confirmPopup>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">Không tìm thấy công ty nào.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<app-addeditcompany
    [displayAddModal]="displayAddEditModal"
    [modalType]="modalType"
    [company]="company"
    (clickClose)="hideAddEditModal($event)"
    (clickAdd)="AddCompany($event)"
></app-addeditcompany>
