<p-toast></p-toast>
<!-- <div *ngIf="loading$ | async" class="loader">
    <img src="assets/LOGO-VSD.png" />
</div> -->
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div
                class="flex justify-content-end flex-column pb-3 sm:flex-row gap-2"
            >
                <button
                    pButton
                    pRipple
                    icon="pi pi-refresh"
                    type="button"
                    [loading]="(loading$ | async)!"
                    label="Refresh"
                    class="p-button-raised p-button-info"
                    (click)="refresh$.next()"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    type="button"
                    label="Thêm mới"
                    class="p-button-raised"
                    (click)="showAddModal()"
                ></button>
            </div>
            <p-progressBar
                *ngIf="loading$ | async"
                mode="indeterminate"
                [style]="{ height: '6px' }"
            ></p-progressBar>
            <p-table
                #dt1
                [value]="(users$ | async)!"
                dataKey="id"
                [rows]="10"
                [rowHover]="true"
                styleClass="p-datatable-sm"
                [paginator]="true"
                [globalFilterFields]="[
                    'userName',
                    'fullName',
                    'deptName',
                    'status'
                ]"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex justify-content-between flex-column sm:flex-row"
                    >
                        <button
                            pButton
                            label="Xóa điều kiện lọc"
                            class="p-button-outlined mb-2"
                            icon="pi pi-filter-slash"
                            (click)="clear(dt1)"
                        ></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                #filter
                                (input)="onGlobalFilter(dt1, $event)"
                                placeholder="Từ khóa tìm kiếm"
                                class="w-full"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 20%">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Người dùng
                            </div>
                        </th>
                        <th style="min-width: 15%">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Phòng
                            </div>
                        </th>
                        <th style="min-width: 10%">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Nhóm
                            </div>
                        </th>
                        <th style="min-width: 5%">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Trạng thái
                            </div>
                        </th>
                        <th style="min-width: 50%"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr class="max-height:2rem;">
                        <td>
                            <img
                                src="{{ user.avatar }}"
                                width="42"
                                height="42"
                                style="
                                    vertical-align: middle;
                                    border-radius: 50%;
                                "
                            />
                            <span class="image-text pl-2 ml-2"
                                >{{ user.userName }} - {{ user.fullName }}</span
                            >
                        </td>
                        <td>
                            {{ user.deptName }}
                        </td>
                        <td>{{ user.roleName }}</td>
                        <td>
                            <p-button
                                label="{{
                                    user.status === 0
                                        ? 'Tạm khóa'
                                        : 'Đang hoạt động'
                                }}"
                                icon="pi {{
                                    user.status === 0
                                        ? 'pi-minus-circle'
                                        : 'pi-check-circle'
                                }} "
                                styleClass="p-button-text p-button-{{
                                    user.status === 0 ? 'danger' : 'success'
                                }}"
                                (click)="confirmActive($event, user)"
                                ><p-confirmPopup
                                    key="confirmActive"
                                ></p-confirmPopup
                            ></p-button>
                        </td>
                        <td>
                            <div class="flex justify-content-end gap-2">
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-primary p-button-text"
                                    (click)="showUpdateModal(user)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-search"
                                    class="p-button-rounded p-button-success p-button-text"
                                    (click)="showDetailModal(user)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-button-text"
                                    (click)="
                                        confirmDelete(
                                            $event,
                                            user.id,
                                            user.userName
                                        )
                                    "
                                >
                                    <p-confirmPopup
                                        key="confirmDelete"
                                    ></p-confirmPopup>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">
                            Không có người dùng nào được tìm thấy.
                        </td>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">
                            Loading customers data. Please wait.
                        </td>
                    </tr>
                </ng-template> -->
            </p-table>
        </div>
    </div>
</div>

<app-usercreate
    [displayAddModal]="displayAddEditModal"
    [modalType]="modalType"
    [user]="us"
    (clickClose)="hideAddEditModal($event)"
    (clickAdd)="AddUser($event)"
></app-usercreate>
<app-userdetail
    [displayDetailModal]="displayDetailModal"
    [user]="us"
    (clickClose)="hideDetailModal($event)"
></app-userdetail>
