<p-toast></p-toast>
<div *ngIf="loading" class="loader">
    <img src="assets/LOGO-VSD.png" />
</div>
<div *ngIf="!loading" class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex justify-content-end flex-column pb-3 sm:flex-row">
                <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    type="button"
                    label="Thêm mới"
                    class="p-button-raised"
                    (click)="showAddModal()"
                ></button>
            </div>
            <p-table
                #dt1
                [value]="roles"
                dataKey="id"
                [rows]="10"
                [loading]="loading"
                [rowHover]="true"
                styleClass="p-datatable-sm"
                [paginator]="true"
                [globalFilterFields]="[
                    'roleId',
                    'roleName',
                    'isAdmin',
                    'description'
                ]"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 10rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                RoleId
                            </div>
                        </th>
                        <th style="min-width: 14rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Tên nhóm quyền
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Là Quản trị
                            </div>
                        </th>
                        <th style="min-width: 6rem">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Mô tả
                            </div>
                        </th>
                        <th style="min-width: 12rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role>
                    <tr class="max-height:2rem;">
                        <td>
                            {{ role.roleId }}
                        </td>
                        <td>
                            {{ role.roleName }}
                        </td>
                        <td>
                            <p-checkbox
                                [binary]="true"
                                [value]="role.isAdmin"
                            ></p-checkbox>
                        </td>
                        <td>{{ role.description }}</td>
                        <td>
                            <div class="flex justify-content-end gap-2">
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-primary p-button-outlined"
                                    (click)="showUpdateModal(role)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-search"
                                    class="p-button-rounded p-button-success p-button-outlined"
                                    [routerLink]="['/roles/', role.roleId]"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-button-outlined"
                                    (click)="confirmDelete($event, role.roleId)"
                                >
                                    <p-confirmPopup
                                        key="confirmDelete"
                                    ></p-confirmPopup>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">
                            Không có người dùng nào được tìm thấy.
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">
                            Loading customers data. Please wait.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<app-add-edit-role
    [displayAddModal]="displayAddEditModal"
    [modalType]="modalType"
    [role]="role"
    (clickClose)="hideAddEditModal($event)"
    (clickAdd)="AddUser($event)"
></app-add-edit-role>
<!-- <app-userdetail
    [displayDetailModal]="displayDetailModal"
    [user]="us"
    (clickClose)="hideDetailModal($event)"
></app-userdetail> -->
