<p-toast></p-toast>
<!-- <div *ngIf="loading" class="loader">
    <img src="assets/LOGO-VSD.png" />
</div> -->
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex justify-content-end flex-column pb-3 sm:flex-row gap-2">
                <button
                    pButton
                    pRipple
                    icon="pi pi-refresh"
                    type="button"
                    label="Refresh"
                    class="p-button-raised p-button-info"
                    (click)="refresh$.next()"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    type="button"
                    label="Thêm mới"
                    class="p-button-raised"
                    (click)="showAddModal()"
                ></button>
            </div>

            <p-progressBar *ngIf="(loading$ |async)" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>

            <p-table
                #dt1
                [value]="(roles$ | async)!"
                dataKey="id"
                [rows]="10"
                [rowHover]="true"
                styleClass="p-datatable-sm"
                [globalFilterFields]="[
                    'roleId',
                    'roleName',
                    'isAdmin',
                    'description'
                ]"
                responsiveLayout="scroll"
            >
            
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 10%">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Mã nhóm
                            </div>
                        </th>
                        <th style="min-width: 30%">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Tên nhóm quyền
                            </div>
                        </th>
                        <th style="min-width: 20%">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Mô tả
                            </div>
                        </th>
                        <th style="min-width: 40%"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role>
                    <tr class="max-height:2rem;">
                        <td>
                            {{ role.roleId }}
                        </td>
                        <td>
                            {{ role.roleName }}
                            <i
                                *ngIf="role.isAdmin"
                                class="pi pi-check-circle font-bold"
                                style="color: #2c29f3"
                            >
                            </i>
                        </td>
                        <td>{{ role.description }}</td>
                        <td>
                            <div class="flex justify-content-end gap-2">
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-primary p-button-text"
                                    (click)="showUpdateModal(role)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-search"
                                    class="p-button-rounded p-button-success p-button-text"
                                    [routerLink]="['/roles/', role.roleId]"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-button-text"
                                    (click)="confirmDelete($event, role.roleId)"
                                >
                                    <p-confirmPopup
                                        key="confirmDelete"
                                    ></p-confirmPopup>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">
                            Không có nhóm người dùng nào được tìm thấy.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<app-add-edit-role
    [displayAddModal]="displayAddEditModal"
    [modalType]="modalType"
    [role]="role"
    (clickClose)="hideAddEditModal($event)"
    (clickAdd)="AddUser($event)"
></app-add-edit-role>
