<p-dialog
    header="Chi tiết người dùng"
    [(visible)]="displayDetailModal"
    [modal]="true"
    (onHide)="closeModal()"
    showEffect="fade"
    [style]="{ minwidth: '450px' }"
    [breakpoints]="{ '960px': '75vw' }"
>
    <div class="mywrapper">
        <div class="left">
            <img src="{{ user?.avatar }}" alt="" />
            <h4>{{ user?.fullName }}</h4>
            <p>{{ user?.gender ? "Nữ" : "Nam" }}</p>
            <p>{{ user?.titleName }} - {{ user?.deptName }}</p>
            <p>Nhóm: {{ user?.roleName }}</p>
        </div>
        <div class="right">
            <div class="info">
                <h3>Thông tin</h3>
                <div>
                    <h5>Email:</h5>
                    <p>{{ user?.email }}</p>
                </div>
                <div>
                    <h5>Số điện thoại:</h5>
                    <p>{{ user?.phoneNumber }}</p>
                </div>
                <div>
                    <h5>Ngày sinh:</h5>
                    <p>{{ user?.dateOfBirth | date : "dd/MM/yyyy" }}</p>
                </div>
                <div>
                    <h5>Địa chỉ:</h5>
                    <p>{{ user?.address }}</p>
                </div>
                <div>
                    <h5>Khởi tạo lúc</h5>
                    <p>
                        {{ user?.createdDate | date : "dd/MM/yyyy HH:mm" }} bởi
                        {{ user?.createdId }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
